.container{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 500px;
	padding: 1rem;
	background: rgba(0,0,0,.7);
	box-sizing: border-box;
	border-radius:12px;
	text-align:center;
}

.img-rounded{
	
	width: 400px;
	height: 400px;
	
	
}


.name{
	color: #575656;
	font-size: 18px;
	text-align: center;
}

.price {
  color: grey;
  font-size: 22px;
  text-align: center;
 
}
